<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos - Adicionar</title>
    <style>

        a{
            
            text-decoration: none;
        }
        body{

            background-color:wheat;
        }
        li{
            display: inline;
            border-left: black solid;
            border-right: black solid;
            padding: 5px;
            margin: 1px;
            background-color: brown;

        }
        li:hover{
            background-color: burlywood;
        }
        li a{
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>CADASTRO DE ALUNOS</h1>
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li>
            <a href="/">Listar</a>
        </li>
    </ul>
    <hr> 